<% include templade/header  %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">login</h1>
            <p class="lead">vào mongodb</p>
        </div>
        <form action="/login" method="post">
              <div class="form-group">
                <label for="">email</label>
                <input type="text" class="form-control" name="email" id="name" aria-describedby="helpId" placeholder="email">
              </div>
              <div class="form-group">
                <label for="">password</label>
                <input type="password" class="form-control" name="password" id="phone" aria-describedby="helpId" placeholder="password">
              </div>
              <input class="btn btn-primary" type="submit" value="login">
        </form>
        
       <% if(err){%>
         <b class="text-danger"> <%= err %></b>
       <%}%>
    </div>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>